[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MOSim"]
	path = MOSim
	url = https://github.com/conesalab/mosim
[submodule "SeuratData"]
	path = SeuratData
	url = https://github.com/satijalab/seurat-data
	registered = false
